{% extends "base.html" %} 
    {% block content %}
          <h2>Signup</h2>
          <form method="post"> 
            <label> Username <input name="username" value="{{ username }}"
                type="text"> <span style="color: red">{{ invalid_username }} </span>
            </label> <br>
            <label> Password <input name="password" type="password"> <span style="color: red">{{
                invalid_password }}</span> </label> <br>
            <label> Verify Password <input name="verify" type="password"> <span

                style="color: red">{{ invalid_verify }}</span> </label> <br>
            <label> Email (optional) <input name="email" type="text"> <span style="color: red">{{
                invalid_email }} </span> </label> <br>
            <input value="submit" type="submit">
           </form>
      
{% endblock %}
