<!DOCTYPE html>
<html>

<head>
    <meta content="text/html">
</head>

<body>
    {% extends "base.html" %} {% block content %}
    <h2>Login</h2>
    <form method="post">
        <label> Username 
        <input name="username" value="{{ username }}" type="text"> 
      </label>
        <br>
        <label> Password 
        <input name="password" type="password"> 
      </label>
        <span style="color: red;">{{ error }}</span> <br>
        <input value="submit" type="submit">
    </form>
    <br>
    <h3>New user?</h3>
    <form method="post">
        <input value="sign-up" type="submit">
    </form>
    <br>
    <br>
    <br> {% endblock %}
</body>

</html>